@model WebApplication1.Models.Product

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <span>名稱: </span> @Html.TextBoxFor(m => m.Name) <br />
    <span>價格: </span> @Html.TextBoxFor(m => m.Price) <br />
    <span>照片: </span> <input type="file" name="photo" /><br />
    <img src="~/Products/GetPhoto/@Model.ProductID" width="200"/><br />
    <input type="submit" value="確認修改" />
}
