@model WebApplication1.Models.Customer

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    <span>姓名: </span> @Html.DisplayFor(m => m.Name) <br />
    <span>生日: </span> @Html.DisplayFor(m => m.Birthday) <br />
    <input type="submit" value="確定刪除" />
}

